.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.players-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.player-container {
  text-align: center;
}

.move-buttons {
  margin-top: 10px;
}

.move-buttons button {
  margin-right: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.play-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

.result {
  text-align: center;
  font-size: 18px;
}

.move-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Adjust the height as needed */
}

.move-display p {
  margin: 0 10px; /* Add some margin around the move displays */
}

.body {
  background-color: red;
}